@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
  line-height: 1.8;
}

body {
  min-width: 100%;
  min-height: 100%;
}

.tiptap {
  ul {
    .task-list-item {
      label {
        margin-right: 0.5rem;
      }
      p {
        margin: 0;
      }
    }
  }

  code {
    white-space: break-spaces;
  }

  pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}
